<form #form="ngForm" (ngSubmit)="submit(form)">
<div class="info-annonce">
  <div class="">
    <label for="titre"></label>
    <input type="text" name="titre" placeholder="Titre" autocomplete="off" />
  </div>
  <div>
    <label for="select">
      <select name="select" id="select">
        <option value="Tranche horaire">Tranche horaire</option>
      </select>
    </label>
  </div>
    <div>
      <label for="zone">
        <select name="select" id="select">
          <option value="Zone">Zone</option>
        </select>
      </label>
    </div>

  <div>
    <input type="date" />
  </div>
  <div>
    <input type="date" name="" id="" />
  </div>
</div>
<angular-editor name="annonceContent"id="editor1" [config]="editorConfig"  [(ngModel)]="annonceContent"></angular-editor>

<input type="submit">

</form>
